<mat-card>
  <form (submit)="onSubmit(postForm)" #postForm="ngForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="6"
        name="content"
        [ngModel]="post?.content"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      {{ mode === "Create" ? "Save Post" : "Edit Post" }}
    </button>
  </form>
</mat-card>
